
__pycache__/
*.pyc
.venv/
Backend/.env
Backend/instance/
.env
*.env.local
firebase_config.json
instance/
__pycache__/
*.pyc
.DS_Store
.venv/
venv/
flask_session/
Frontend/.vercel/
Frontend/templates/.vercel/
.vscode/
flask_session/ 
Backend/flask_session
flask_session/
Documentation/
.vscode/